<main class="ownerPageBody" >
			<article class= "ownerStats">	
				<h id="ownerName">
					{{charName}}
				</h>
				<p id="owner-Wep-Prof">Weapon Proficency: {{prof}}</p>
				<p id="owner-Score-Input">Weapon Score: {{score}}</p>
			</article>
			<article id="ownerWeapon">
				<article class="ownerWeapon">
					<div class = "ownerWeaponPic">
							{{link}}

					</div>
					<div class="owner-weapon-content">
						<p class="owner weapon-Name"> {{name}}</p>
					</div>
				</article>
			</article>
			
		</main>